<form [formGroup]="form" class="container">

  <button
    mat-flat-button 
    type="button"
    color="primary"
    (click)="agregarInput()"
    class="add"
  >
    Adicionar
  </button>


<div formArrayName="cajas">
    <p *ngFor="let caja of cajasDeTexto.controls; let id = index" [formGroupName]="id">
      <mat-form-field appearance="outline">
      <mat-label>Texto</mat-label>
       <input 
        matInput type="text" 
        placeholder="Ingrese texto"
        formControlName="nombre"
        class="nombre"
        [class.is-invalid]="nombreNoValido"
      >
      <mat-error>No puede dejar el campo vacio</mat-error>
      </mat-form-field>

      <button 
        mat-flat-button 
        type="text"
        color="primary"
        (click)="limpiarInput(id)"
        class="limpiar"
      >
        Limpiar
      </button>
      
      <button 
        mat-flat-button 
        type="text"
        color="warn"
        (click)="eliminarInput(id)"
        class="eliminar"
      >
        Eliminar
      </button>
    </p>


  <mat-form-field class="example-full-width" style="width: 500px"  appearance="fill">
      <textarea
        matInput
        id="mostrar-nombres" 
        style="height: 100px" 
        value="{{ listaDeInputsCadena }}"  
      >
     </textarea>
  </mat-form-field>
  <br>
  <button mat-stroked-button color="accent" (click)="limpiarTextArea()">Limpiar</button>
  
  <br><br>
  
  <button mat-stroked-button color="primary" (click)="guardarInputs()" [disabled]="form.invalid">Guardar</button>
  <button mat-stroked-button color="accent" (click)="limpiarInputs()">Limpiar</button>

</div>


</form>
